/* variables created for repeated values*/
:root{
    --sage-green:rgba(102, 132, 102, 0.845); 
    --brown:rgba(152, 139, 119, 0.925);
    --ivory:  ivory;

}

body{
    background-color: var(--brown); /* sets body's background color*/
    color: var(--ivory);  /* sets body's text color*/
    display: flex; /* body's display is in flex*/
    flex-direction: column; /*direction of the flex container is vertical*/
}

.header{
height: 200px;
display: flex; /*lines up the  header contents in a container*/
justify-content: space-between; /* puts a space between the contents*/
background-color: var(--sage-green); /* header's background color*/
padding: 10%;  /* gives the header 10% padding*/
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:var(--ivory) ; 
}


.header h1{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap; /* wraps the container*/
}

.header nav ul{
    display: flex; /*lines up the contents in a container*/
    justify-content: space-between;  /* adds even space between the contents*/
    min-width: 300px;
}
.header nav ul li{
    padding: 0 2%;
    font-size: 20px;
    font-weight: 200;
    
}
a{
    color: var(--ivory);
    text-decoration: none;
}
p{
    font-size: 16px;
    padding-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
}

.content{
    height: 1400px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    
}
.content-block{
    padding: 50px;
    color:black;



}
.portfolio-picture{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    
}

.content-block h2{ 
    font-size: 30px;
    font-weight: bold;
    color: var(--sage-green);
   text-align: center;
   padding-top: 30px;

}
.content-block h3{
    font-size: 15px ;
    color: black;
    text-align: center;
    padding-top: 20px;
}
.info{
    line-height: 1.5;
    text-align: center;

}
.info img{
    height: 500px;
    width: auto;
    text-decoration: none;
}


footer{
    height: 200px;
}
.horiseon-image{
    height: 400 px;
    width: auto;
}
.info:hover .horiseon-image{
    opacity: 0.3;
}
.info:hover #hikr1-image{
    opacity: 0.3;
}
#hikr1-image{
    width: 800px;
    height: 400px;
}


@media screen and (max-width: 768px) {
     /* Use flex-direction to stack the nav, header, and body */
    body, nav, header{
        flex-direction: column;
    }

    nav{
        margin-bottom: 20px;
    }
    
}

