/* variables created for repeated values*/
:root{
    --sage-green:rgba(102, 132, 102, 0.845); 
    --brown:rgba(152, 139, 119, 0.925);
    --ivory:  ivory;

}

body{
    background-color: var(--sage-green); /* sets body's background color*/
    color: var(--ivory);  /* sets body's text color*/
    display: flex; /* body's display is in flex*/
    flex-direction: column; /*direction of the flex container is vertical*/
}

.container-fluid{
    background-color: rgba(152, 139, 119, 0.925);
    margin: 0px;
}


.card{
    background-color:var(--brown);
    width: fit-content;
    height: fit-content;
    border-style: none;
}

long-img{
    height: auto;
    width:50px;

}



.content-block h2{ 
    font-size: 30px;
    font-weight: bold;
    color: var(--sage-green);
   text-align: center;
   padding-top: 30px;

}

.info{
    line-height: 1.5;
    text-align: center;

}


.val-img{
    height:300px;
    width:200px;
}






