/* variables created for repeated values*/
:root{
    --limegreen:rgba(102, 132, 102, 0.845); 
    --beige:rgba(152, 139, 119, 0.925);

}

body{
    background-color: var(--beige);
    color: ivory;
}

.header{
height: 100px;
display: flex; /*lines up the header contents in a container*/
justify-content: space-between; /* puts a space between the contents*/
background-color: var(--limegreen);
padding: 10%; 
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: ivory ;
}


.header h1{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
}

.header nav ul{
    display: flex; /*lines up the contents in a container*/
    justify-content: space-between; 
    min-width: 300px;
}
.header nav ul li{
    padding: 0 2%;
    font-size: 20px;
    font-weight: 200;
    
}
a{
    color: ivory;
    text-decoration: none;
}
p{
    font-size: 16px;
}
.content{
    height:1000px;
    background-color: beige;
}
.content-block{
    padding: 50px;
    margin-bottom: 20px;
    color:black;


}
.content-block img{
    max-height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.content-block h2{ 
    font-size: 30px;
    font-weight: bold;
    color: var(--limegreen);
   text-align: center;

}
.info{
    line-height: 1.5;
    text-align: center;

}

footer{
    height: 200px;
}